<header class="py-4 px-14 shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    <nav class="w-full">
      <ul class="flex space-x-10 items-center">
        <li><a href="/" class="<%= currentPath === '/' ? 'text-white ' : 'text-white/60' %> hover:text-white transition-colors">Home</a></li>
        <li>
          <a
            href="/upload/<%= rootFolderId || 0%>"
            class="<%= currentPath.startsWith('/upload') ? 'text-white ' : 'text-white/60' %> hover:text-white transition-colors"
            >Upload</a
          >
        </li>

        <li class="ml-auto">
          <a href="<%= currentUser? "/log-out" : "/log-in" %>" class="<%= currentPath === '/log-in' || currentPath === '/log-out' ? 'text-white ' : 'text-white/60' %> hover:text-white transition-colors"><%= currentUser? "Logout" : "Login" %></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
